* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

body {
  background: #000; }

.container {
  max-width: 1420px;
  margin: auto; }

header {
  background: #000; }
  header .pre-header {
    background: linear-gradient(to right, #060606 0%, #2e2e2e 100%);
    padding-bottom: 5px;
    padding-top: 5px;
    display: table;
    width: 100%; }
    header .pre-header ul {
      list-style: none;
      float: right; }
      header .pre-header ul li {
        display: inline-block;
        margin-right: 20px; }
        header .pre-header ul li:first-child a {
          color: #f97000; }
        header .pre-header ul li a {
          color: #848484;
          text-decoration: none; }
  header nav {
    padding: 15px;
    background: black;
    width: 100%; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        display: inline-block;
        margin-left: 30px;
        position: relative;
        top: -20px; }
        header nav ul li:first-child {
          top: 6px; }
          header nav ul li:first-child a:hover:after {
            display: none; }
        header nav ul li a {
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          position: relative; }
          header nav ul li a:hover:after {
            display: block;
            position: absolute; }
          header nav ul li a:after {
            content: "";
            display: none;
            background: #fff;
            height: 2px;
            width: 100%; }
          header nav ul li a img {
            width: 130px; }

.hero h1 {
  font-size: 68px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }
  .hero h1 span {
    font-weight: 600;
    background-image: -webkit-linear-gradient(145deg, #a2fe73, #35fdb2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear; }
.hero video {
  width: 100%; }

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(360deg); }
  to {
    -webkit-filter: hue-rotate(-360deg); } }
.featured {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to top, #1b1b1b 0%, #373737 100%); }
  .featured .featured-item {
    flex: 0 0 29%;
    position: relative;
    top: -130px; }
    .featured .featured-item img {
      width: 70%; }
    .featured .featured-item button {
      padding: 15px 25px;
      margin-top: 30px;
      border-radius: 15px;
      color: #fff;
      background-color: #000;
      font-size: 16px;
      border: none;
      font-weight: 600; }
      .featured .featured-item button:hover {
        cursor: pointer; }
    .featured .featured-item h2 {
      margin-top: 20px;
      margin-bottom: 30px; }
    .featured .featured-item p {
      max-width: 300px;
      margin: auto; }

.products {
  padding-top: 100px;
  padding-bottom: 100px; }
  .products h2 {
    max-width: 800px;
    text-align: center;
    margin: auto;
    color: #fff; }
  .products .product-item-1 {
    background: url(../img/product-image.webp);
    padding: 20px;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
